body {
  font-family: Arial, sans-serif;
  background-color: #181818;
  color: #fff;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.navbar {
  background-color: #212121;
  padding: 10px 20px;
  width: 100%;
  z-index: 1;
  position: fixed;
  transition: background-color 0.3s ease;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.jumbotron {
  background-color: #212121;
  color: #fff;
  padding: 150px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

.jumbotron p {
  font-size: 20px;
  margin-bottom: 30px;
}

.jumbotron button {
  font-size: 18px;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  color: #7f8fa6;
  cursor: pointer;
  transition: all 0.3s ease;
}

.jumbotron button:hover {
  background-color: #5c677d;
  color: #fff;
}

.features {
  background-color: #212121;
  padding: 100px 0;
  text-align: center;
}
.features h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.feature-item {
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;
  border-radius: 12px;
  height: 170px;
}

.featured-comments {
  background-color: #212121;
  color: #fff; 
  padding: 100px 0;
  text-align: center;
}

.featured-comments h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.featured-comments-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.featured-comments-card p {
  font-size: 18px;
  margin-bottom: 0;
}

.featured-comments-card small {
  font-size: 16px;
  font-style: italic;
}

.about {
  background-color: #212121;
  padding: 100px 0;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.about p {
  font-size: 20px;
  margin-bottom: 30px;
}

.about-section {
  text-align: left;
}

.faq {
  background-color: #212121;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.faq h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.faq-list {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.faq-list li {
  margin-bottom: 20px;
}

.faq-list h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-list p {
  font-size: 18px;
  margin-bottom: 0;
}

.faq-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 30px;
  height: 160px;
}

.faq-card .card-body {
  text-align: left;
  padding: 20px;
  margin-bottom: 30px;
}

.faq-card .card-title {
  font-weight: bold;
}

.contact {
  background-color: #212121;
  padding: 100px 0;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.contact-info p {
  font-size: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: #181818;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

footer p {
  font-size: 18px;
  margin-bottom: 0;
}
